[Unit]
Description=Redis for Discovery
Requires=podman.socket

[Container]
ContainerName=discovery-redis
Image=registry.redhat.io/rhel9/redis-6:latest
PublishPort=6379:6379
ExposeHostPort=6379
User=%U
Group=%G
EnvironmentFile=%h/discovery/config/env-redis.env
Network=discovery.network

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target

