[Unit]
Description=Discovery Server
Requires=podman.socket
PartOf=discovery-app.service
After=discovery-db.service
After=discovery-redis.service

[Container]
ContainerName=discovery-server
Image=quay.io/quipucords/quipucords:1.7
ExposeHostPort=8443
EnvironmentFile=%h/.config/discovery/env/env-db.env
EnvironmentFile=%h/.config/discovery/env/env-redis.env
EnvironmentFile=%h/.config/discovery/env/env-ansible.env
EnvironmentFile=%h/.config/discovery/env/env-server.env
Secret=discovery-server-password,type=env,target=QPC_SERVER_PASSWORD
Secret=discovery-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Volume=%h/.local/share/discovery/data:/var/data:z
Volume=%h/.local/share/discovery/log:/var/log:z
Volume=%h/.local/share/discovery/sshkeys:/sshkeys:z
Network=discovery.network

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
