[Unit]
Description=PostgreSQL Database for Discovery
Requires=podman.socket

[Container]
ContainerName=discovery-db
Image=registry.redhat.io/rhel8/postgresql-12:latest
PublishPort=5432:5432
ExposeHostPort=5432
Environment=POSTGRESQL_USER=qpc
Environment=POSTGRESQL_PASSWORD=qpc
Environment=POSTGRESQL_DATABASE=qpc
Volume=%h/.local/share/discovery/data:/var/lib/pgsql/data
Network=discovery.network

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target

