[Unit]
Description=Discovery UI
Requires=podman.socket

[Container]
ContainerName=discovery-ui
Image=quay.io/quipucords/quipucords-ui:latest
PublishPort=8080:8080
ExposeHostPort=8080
Environment=QUIPUCORDS_API_URL=https://discovery-server:8443
Network=discovery.network

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target

