[Unit]
Description=Discovery Celery Worker
Requires=podman.socket

[Container]
ContainerName=discovery-celery-worker
Image=quay.io/quipucords/quipucords:latest
EnvironmentFile=%h/discovery/config/env-redis.env
EnvironmentFile=%h/discovery/config/env-ansible.env
EnvironmentFile=%h/discovery/config/env-celery-worker.env
Secret=discovery-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Exec=/bin/sh -c /deploy/entrypoint_celery_worker.sh
Volume=%h/.local/share/discovery/data:/var/data:z
Volume=%h/.local/share/discovery/log:/var/log:z
Network=discovery.network

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target

