[Unit]
Description=Discovery Celery Worker #%i
Requires=podman.socket

[Container]
ContainerName=discovery-celery-worker-%i
Image=quay.io/abellott/quipucords:latest
Exec=/bin/sh -c /deploy/entrypoint_celery_worker.sh
EnvironmentFile=/home/abellotti/discovery/config/env-redis.env
EnvironmentFile=/home/abellotti/discovery/config/env-ansible.env
Environment=DJANGO_SECRET_PATH=/var/data/secret.txt
Environment=QPC_ENABLE_CELERY_SCAN_MANAGER=0
Secret=discovery-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Volume=/home/abellotti/.local/share/discovery/data:/var/data:z
Volume=/home/abellotti/.local/share/discovery/log:/var/log:z
Network=discovery.network

[Service]
Restart=always

[Install]
WantedBy=default.target

