[Unit]
Description=Discovery Server
Requires=podman.socket

[Container]
ContainerName=discovery-server
Image=quay.io/abellott/quipucords:latest
PublishPort=8443:8443
ExposeHostPort=8443
Environment=ANSIBLE_REMOTE_TMP=/var/data/tmp/ansible/remote
Environment=ANSIBLE_LOCAL_TEMP=/var/data/tmp/ansible/local
Environment=ANSIBLE_LOG_LEVEL=3
Environment=DJANGO_SECRET_PATH=/var/data/secret.txt
Environment=DJANGO_SECREY_KEY=development
Environment=QPC_DBMS=postgres
Environment=QPC_DBMS_HOST=discovery-db
Environment=QPC_DBMS_PORT=5432
Environment=QPC_DBMS_DATABASE=qpc
Environment=QPC_DBMS_USER=qpc
Environment=QPC_DBMS_PASSWORD=qpc
Environment=QPC_SERVER_PORT=8443
Environment=QPC_SERVER_TIMEOUT=5
Environment=QPC_SERVER_USERNAME=admin
Environment=QPC_SERVER_PASSWORD=superadmin1
Environment=NETWORK_CONNECT_JOB_TIMEOUT=6
Environment=NETWORK_INSPECT_JOB_TIMEOUT=600
Environment=QPC_DEBUGPY=0
Environment=QPC_LOG_ALL_ENV_VARS_AT_STARTUP=False
Environment=REDIS_HOST=discovery-redis
Environment=REDIS_PASSWORD=qpc
Environment=QPC_ENABLE_CELERY_SCAN_MANAGER=0
Volume=/home/abellotti/.local/share/discovery/data:/var/data:z
Volume=/home/abellotti/.local/share/discovery/log:/var/log:z
Volume=/home/abellotti/.local/share/discovery/sshkeys:/sshkeys:z
Network=discovery.network

[Service]
Restart=always

[Install]
WantedBy=discovery-redis.service
