[Unit]
Description=Redis for Discovery
Requires=podman.socket
PartOf=discovery-app.service

[Container]
ContainerName=discovery-redis
Image=registry.redhat.io/rhel9/redis-6:latest
ExposeHostPort=6379
EnvironmentFile=%h/.config/discovery/env/env-redis.env
Network=discovery.network

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target

