[Unit]
Description=Discovery Celery Worker #%i
Requires=podman.socket

[Container]
ContainerName=discovery-celery-worker-%i
Image=quay.io/abellott/quipucords:latest
Exec=/bin/sh -c /deploy/entrypoint_celery_worker.sh
Environment=ANSIBLE_REMOTE_TMP=/var/data/tmp/ansible/remote
Environment=ANSIBLE_LOCAL_TEMP=/var/data/tmp/ansible/local
Environment=DJANGO_SECRET_PATH=/var/data/secret.txt
Environment=DJANGO_SECREY_KEY=development
Environment=REDIS_HOST=discovery-redis
Environment=REDIS_PASSWORD=qpc
Environment=QPC_ENABLE_CELERY_SCAN_MANAGER=0
Volume=/home/abellotti/.local/share/discovery/data:/var/data:z
Volume=/home/abellotti/.local/share/discovery/log:/var/log:z
Network=discovery.network

[Service]
Restart=always

[Install]
