[Unit]
Description=Discovery Celery Worker
Requires=podman.socket
PartOf=discovery-app.service
After=discovery-server.service

[Container]
ContainerName=discovery-celery-worker
Image=quay.io/quipucords/quipucords:latest
EnvironmentFile=%h/.config/discovery/env/env-db.env
EnvironmentFile=%h/.config/discovery/env/env-redis.env
EnvironmentFile=%h/.config/discovery/env/env-ansible.env
EnvironmentFile=%h/.config/discovery/env/env-celery-worker.env
Secret=discovery-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Exec=/bin/sh -c /deploy/entrypoint_celery_worker.sh
Volume=%h/.local/share/discovery/data:/var/data:z
Volume=%h/.local/share/discovery/log:/var/log:z
Network=discovery.network

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target

