[Unit]
Description=Quipucords App
Requires=podman.socket
Wants=quipucords-db.service
Wants=quipucords-redis.service
Wants=quipucords-celery-worker.service
Wants=quipucords-server.service
After=quipucords-server.service

[Container]
ContainerName=quipucords-app
Image=quay.io/quipucords/quipucords-ui:latest
PublishPort=9443:9443
ExposeHostPort=9443
EnvironmentFile=%h/.config/quipucords/env/env-app.env
Volume=%h/.local/share/quipucords/log:/var/log:z
Volume=%h/.local/share/quipucords/certs:/opt/app-root/certs:z
Network=quipucords.network
# Since we could write self-generated keys to the shared certs
# volume and write nginx logs to the common log volume,
# let's make sure we map the nginx user to the host's user.
UserNS=keep-id:uid=1001,gid=1001
# RHEL 8 needs --pids-limit flag. This is not necessary on RHEL 9, and
# in fact causes us to ignore user settings, if any.
PidsLimit=0

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
