[Unit]
Description=Quipucords Server
Requires=podman.socket
PartOf=quipucords-app.service
After=quipucords-db.service
After=quipucords-redis.service

[Container]
ContainerName=quipucords-server
Image=quay.io/quipucords/quipucords:latest
ExposeHostPort=8000
EnvironmentFile=%h/.config/quipucords/env/env-db.env
EnvironmentFile=%h/.config/quipucords/env/env-redis.env
EnvironmentFile=%h/.config/quipucords/env/env-ansible.env
EnvironmentFile=%h/.config/quipucords/env/env-server.env
Secret=quipucords-server-password,type=env,target=QUIPUCORDS_SERVER_PASSWORD
Secret=quipucords-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Volume=%h/.local/share/quipucords/data:/var/data:z
Volume=%h/.local/share/quipucords/log:/var/log:z
Volume=%h/.local/share/quipucords/sshkeys:/sshkeys:z
Network=quipucords.network
# RHEL 8 needs --pids-limit flag. This is not necessary on RHEL 9, and
# in fact causes us to ignore user settings, if any.
PidsLimit=0

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
