[Unit]
Description=Quipucords Celery Worker
Requires=podman.socket
PartOf=quipucords-app.service
After=quipucords-server.service

[Container]
ContainerName=quipucords-celery-worker
Image=quay.io/quipucords/quipucords:latest
EnvironmentFile=%h/.config/quipucords/env/env-db.env
EnvironmentFile=%h/.config/quipucords/env/env-redis.env
EnvironmentFile=%h/.config/quipucords/env/env-ansible.env
EnvironmentFile=%h/.config/quipucords/env/env-celery-worker.env
Secret=quipucords-django-secret-key,type=env,target=DJANGO_SECRET_KEY
Exec=/bin/sh -c /deploy/entrypoint_celery_worker.sh
Volume=%h/.local/share/quipucords/data:/var/data:z
Volume=%h/.local/share/quipucords/log:/var/log:z
Volume=%h/.local/share/quipucords/sshkeys:/sshkeys:z
Network=quipucords.network
# RHEL 8 needs --pids-limit flag. This is not necessary on RHEL 9, and
# in fact causes us to ignore user settings, if any.
PidsLimit=0
# Konflux requires non-root users in container images; for this reason, quipucords-server
# versions above 1.12.1 shall use user 1001, regardless of being released through Konflux
# or Brew, to accomodate this change.
# Mounted volumes are always mapped to root on SELinux, so we need to use UserNS config to
# set the ownership correctly.
UserNS=keep-id:uid=1001

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=default.target
